.mazzoPsico{

   background-color:plum;
	padding: 40px;
   font-size: 18px;
}

.mazzoAcquaSX{

   background-color: aqua;
	float: left;
	width: 40%;
	padding: 5%
     
       
}
.mazzoAcquaDX{

   background-color: aqua;
	float: right;
	width: 40%;
	padding: 5%

    
}

.mazzoFuoco{

   background-color:orange;
   font-size: 18px;
}
td{
padding: 60px;

}

a{

  padding: 10px;

}

.menu{

text-align: center;
   background-color: GhostWhite
;
padding: 15px;

}
.titolol{
    
	font-size: 30px; 
	font-family: tahoma;
    

}
body{

   background-color: linen;


}

.testo{

   font-size: 18px;

}
.star{

   padding-top:10px;
   padding-left:90px;
}

